{#

This file is part of the Grcs package.

(c) Alexander Gorelov <grac.ga@gmail.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends configs.templates.layout %}

{% block internal_messages_data_container %}
<form action="{{ path('grcs_internal_messages_reply', { 'message_id' : message_id } ) }}" method="post">
  {{ form_widget(form) }}

  <input type="submit" />
</form>
{% endblock %}